language: java

jdk: oraclejdk8

install: true

script:
  - ./gradlew clean build --scan -s

after_success:
   - .buildscript/deploySnapshot.sh

branches:
  except:
    - gh-pages

sudo: false

cache:
  directories:
    - $HOME/.gradle

env:
  global:
    - secure: "IP4UNpqn04vdBMF8uVdOR8MsycDt9CkxKzJsaA9Y9i1Qwth4DsA4wzFkr96DAG79M6JD0IJkVdDBsXXZy88qjyg6PNEGBXXDgI0AbuHgCjIHTBowKGOcTEXCPoNdhc2r/lwGe7ZdDjYwQVZaoK8htwQ4MHB/eNzPrTowuoiv4eegPyA2i+eQhU2a3DkqEcM8gN5CR1C+WfVoJVHkZs50kFd8vMTIr1M4h2myIZ95T18f3x8hHzflXIdDy9oJ3tRPpYwCm+fL1AVKWUfy2CjaYCAYlKKTXEbMlr4WGZkfTihQISCPpbV2i0m4RtBiKNeN78XnSy9NE8hf6qE7oTNNJA1DYLBVLBj/1lh95oXxINYmkV+gcS5BpDh81klumvNmx19cTvCoaTlL98ExA2zNt/jUHH69TQQnP+29KkbuUVU2Y9iD6FJe558w72yKAsKb6BJCH77VuSfmUnZs3J9xffF3FCceopkJ0Kq/LMe9Tox5Rpvq+YYBke2P5Xt0JPrwXbASYwEFae1UAaGCzF797nQx7XziKLxLQbTbuYJ4CpO9ZMfzq4krdrkvKY9DLMN8DTKh4Y3j+qOduVdvYWXtyXABSYTK3OoffTPvqEIS+LfpX3oTHLBM/w47nQgzRWAtDT83lLgzhZ/OVksEH+QrfVzvlH1X3p52iQl/DXFFPKI="
    - secure: "WO5asiO5cj46ejq4XDya2XpMO1YBVutIoSWsBkPWRP4zO/2MKMHjW7xNwafr3AE9MyMDoij2FeOle4phexwQiWYn/yhYytO4Z5FbeHr7qyfat1fZR5Lgh1VXyZo0lTHJ5doCvjPUi6jpXiU5YedsnoguqpPVZcIkVMQbz9yTKhFQ0e35fEe4+YZ4ANYpNP35zzNZZXOJAqWLuCFlLFuJm46Qtrc9bfjA56K9fzDMyiBKCN7A38TAozS7nw9qdL64DlN5pGCGxs1yn5AQu+lG77NpFJcMQ0BTYfrba5eSC35/s7woLCfBiEgamimv+FPQSvObo0bvZC8NT4FZr2JYTbGaHGklaJS6ywMhOYf8fABr4CYLhvJuYym+UJy3pTwd21ZKybNBzmvWRWTCeLZuHHwthNl4zUuv8dW4fWGX52X0LS55g1EvBbYpmWWRf8H7G8XHfHwQsVNk6KVgZVKERpfJGmsY2pvcx2hrM1uda/xR+q/cCQf0f0J/TymV/PIdmAUqEHAEGbOf57mNo/Ls6ZqpxCuojqX7wV99s0NgpYT8nAvOBcr5xDCbDatwcDczdmeO9ivolNFpOF34MDGBNmwSPOJEZUjtaI8u/actpGjHVFCbCW6iMOa71Kg3Gv77KAcsKof6PwIP53QXguNZz0xFusS8YJM5DoMadINcKV4="
    - secure: "UtMBKnsXXmIlUgT9oF/OcUHVdiMPpNlj6uOXa87BCvBqlkjk1qULk79We0hN0IdZN0X/VV2oufnhvPNvlCLbnYyIE5E7xA7PcliuXiUmdINM0igzRQBx9J3X34sE1LwOfmARQ87xmo3pGrRlo0UYPwCujGTa1j4UdS3QzVApSFXnw96a3Zh8mPqFKH3cqVNTv7ibDpEGQ92jczTliz/1zZ7U8cBzvqqH5Y5lD371WkRV3vFIKnRZou9cIKpWs053TFhZTaR/pHDRh/vik39jd8pJWqZoNn9/FrmEQ/G50FgW/il/aUWsy7ZE4IFjcAuZhl8WwTbsXEpnCdP3nQWaIfg3/ufllDiGIXIVxh7Fh8y8vTl1KzbA0t+FBkQw/J+Cc8iPtB8y44q7nEztTp2RWWzr4BdYW3+wy0t1GGcE/sLFJyISVxGGDo+pbMonBagqO9HK0tkqXdBeWXf7ZnLocX/7mbA/BQO6eSF8Om4IyNFyVEz9DfOEBqXs1exUMOA6eviTooojrO8CpUO8/C1HqLF6njWSglgf7JvCOlRiVt1gHeY3nlWNvfgejciufoRungM7sE19XdF1Ybx4maXHkkxwX4tYNX8YLFWE8RUbBs5ZphOyIajoLDURjrJ4YZFdwPocnphuf0YT9ZeKqWk4Iy7GUmSN8VKwnHQhKVX67ss="
    - secure: "fqpcTgqsfHvbLDcdVa1ZjqwnPIWrsPI3DDGxWYqG8cqTIecG2OlKzgBwSuWk+HP1B1bFBGZ+90cevG4mwEp+Ofxd+hHcG7sfWcXuQJNzinel5GcR+Kq6fmsiRZDj0rLizogvDzjd/IxM8G4foLrjsY9LN/ra1+1FGTH596vFMqt5Pe7oxmRZYUfMZbzkGhuSV8U0tvXZTnNyX28uTvcigTfk3iy2KSOw3p/9CRK2jZM8D37AFZJk2iiCj200qLXhYGttbdUDlRkvaJl2ODuwLOFDWn6ZblRfygjW9BCh58FSOvqSiY1DeApuYvPedmU9xnR38mYotZoKnbyNj9D+FSRtDw9EiZ8zTZSWvJ8VulUE7b8fdajzZQJBAYnXjv2Z1bIyHz93rN7jrMHc9Rdo+bTnEKeYHPM0+sogOv6zpICN2ACvem7JGqg+eDJRbsHNtFwj3/kY6QPGocy0vdNcCaAg6B9d34foyRY2eUcG5GdwMEOtGBcDjjhtj3/oTg4QQiOuUklvqZgdyVRVwKykw3jLabt2ztFX2uJ6ET6a41sZoJTbrgHg/sUx5oOC6i+1MX5XmvMVxN5fsV9CXwJHcf3sVFvwoQbGzpNPGY7ZGDR42EwrTZ5kd1izheRKhkw7CIVvfASP1edAmLnyZwyua97paIGDI/nLJ2iH7PKe/h0="
